{% extends 'layout.html' %}
{% load static %}
{% block head %}
    <script src="{% static 'js/jszip.min.js' %}"></script>
    <style>
        @keyframes snake-rotate {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        .animate-snake {
            animation: snake-rotate 2s linear infinite;
        }    
    </style>
    {{ conv_req|json_script:"conv_req_json" }}
{% endblock head %}
{% block body %}
    <ul id="files-list" class="mb-2"></ul>
    <button id="download-all-btn" class="relative bg-slate-800 rounded-0 w-[8rem] p-[2px] overflow-hidden" disabled>
        <span class="loader animate-snake absolute inset-[-200%] bg-[conic-gradient(transparent_80%,#ffffff_95%,#ffffff_100%)] pointer-events-none"></span>
        <span class="relative block bg-slate-800 hover:bg-slate-700 w-full p-1 text-center">Converting ...</span>
    </button>
    <script>
        let loading = true;
        let conv_req = JSON.parse(document.getElementById("conv_req_json").textContent);

        const filesList = document.getElementById("files-list");
        const downloadAllBtn = document.getElementById("download-all-btn");

        function uiUpdateFilesList() {
            filesList.innerHTML = "";
            for (const f of conv_req.files) {
                if (f.use === 'R')
                    filesList.innerHTML += `<li class="p-1 bg-slate-700 mb-1 flex flex-row justify-between max-w-lg"><span class="ms-1">${f.name}</span><a class="ms-auto p-1 bg-gray-700 rounded-0 hover:bg-gray-800 text-sm w-20 text-center" href="${f.file}" download>Download</a></li>`;
            }
        }
        
        function load() {
            fetch(`/api/convert-request/${conv_req.id}/`).then(resp => {
                if (!resp.ok)
                    throw new Error(JSON.stringify(resp));
                return resp.json();
            }).then(json => {
                if (json.data.conv_req.status === "C") {
                    conv_req = json.data.conv_req;
                    uiUpdateFilesList();
                    loading = false;
                    downloadAllBtn.disabled = false;
                    downloadAllBtn.querySelector(".loader").classList.add("hidden");
                    downloadAllBtn.querySelector(".relative").textContent = "Download All";
                }
            }).catch(err => {
                console.log(err);
                loading = false;
            }).finally(() => {
                if (loading)
                    setTimeout(load, 3000);
            });
        }

        downloadAllBtn.addEventListener("click", async (evt) => {
            downloadAllBtn.disabled = true;
            downloadAllBtn.querySelector(".loader").classList.remove("hidden");
            downloadAllBtn.querySelector(".relative").textContent = "Downloading ...";

            // generating zip
            const zip = new JSZip();
            const folder = zip.folder("converted-files");

            for (const f of conv_req.files) {
                if (f.use === "R") {
                    const resp = await fetch(f.file);
                    const blob = await resp.blob();

                    const filename = f.file.split('/').pop();
                    folder.file(filename, blob);
                }
            }

            const content = await zip.generateAsync({ type: "blob" });
            
            // downloading it
            const link = document.createElement("a");
            link.href = URL.createObjectURL(content);
            link.download = `convert-request-${conv_req.id}.zip`;

            document.body.appendChild(link);
            link.click();

            document.body.removeChild(link);
            URL.revokeObjectURL(link.href);

            // ---
            downloadAllBtn.disabled = false;
            downloadAllBtn.querySelector(".loader").classList.add("hidden");
            downloadAllBtn.querySelector(".relative").textContent = "Download All";
        });

        if (conv_req["err"] === undefined) {
            if (conv_req.status === "C") {
                uiUpdateFilesList();
                loading = false;
                downloadAllBtn.disabled = false;
                downloadAllBtn.querySelector(".loader").classList.add("hidden");
                downloadAllBtn.querySelector(".relative").textContent = "Download All";
            } else load();
        }
    </script>
{% endblock body %}
