<div>
    <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

    <div class="container-fluid bg-success upload-container-out dropzone" appDrag (files)="filesDropped($event)">
        <div class="container-fluid upload-container-in">
            <p style="font-size: 18px;">Drop Files Here</p>
            <button class="btn btn-light" (click)="fileUpload.click()">Choose File</button>
        </div>
    </div>

    <label id="uploadProgressLabel" class="form-label mt-3" *ngIf="uploadProgress">Uploading File ...</label>
    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress"
        aria-label="uploadProgressLabel"></mat-progress-bar>

    <h2 class="mt-3" *ngIf="uploadedFilesList.length > 0">Uploaded Files</h2>
    <div class="uploaded-file-list mb-2" *ngFor="let file of uploadedFilesList">
        <div class="uploaded-file bg-light">
            <p>{{ file.name }}</p>
        </div>
    </div>

    <button class="btn btn-success btn-lg mt-3" (click)="onConvertBtnClick()">Start Conversion</button>
</div>