.upload-container-out {
    padding-top: 12px;
    padding-bottom: 12px;

    /* border-radius: 5px; */
}

.upload-container-in {
    padding-top: 12px;
    padding-bottom: 12px;

    border: 3px solid white;
    border-radius: 5px;
    border-style: dashed;

    color: white;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.file-upload-methods {
    width: 60%;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-evenly;
}

.file-upload-method:hover {
    text-decoration: underline;
    cursor: pointer;
}

.file-input {
    display: none;
}

.uploaded-file {
    padding: 12px 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    justify-items: center;
}

.uploaded-file p {
    margin: 0;
    padding: 0;
}
