<div>
    <h1 class="text-center">Free online file converter</h1>
    <p class="text-center">Convert media files online from one format into another. Please select the target format
        below:</p>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3 mt-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2>Image converter</h2>
                    <p class="card-text">
                        Here, you can find an image converter for your needs.
                        <!-- for example, a PDF to image converter. -->
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="input-group mb-3">
                            <select class="form-select" [(ngModel)]="selectedImgFormat">
                                <option value="default" selected>Select target format ...</option>
                                <option value="bmp">Convert to BMP</option>
                                <!-- <option value="eps">Convert to EPS</option> -->
                                <option value="gif">Convert to GIF</option>
                                <!-- <option value="hdr">Convert to HDR / EXR</option> -->
                                <option value="ico">Convert to ICO</option>
                                <option value="jpeg">Convert to JPEG (JPG)</option>
                                <option value="png">Convert to PNG</option>
                                <!-- <option value="svg">Convert to SVG</option> -->
                                <option value="tga">Convert to TGA</option>
                                <option value="tiff">Convert to TIFF</option>
                                <option value="webp">Convert to WebP</option>
                            </select>
                            <button class="btn btn-outline-success" (click)="onImgConvertPressed()">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2>Video converter</h2>
                    <p class="card-text">Convert video files into the most common formats, such as MP4, AVI, MOV, and
                        more.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="input-group mb-3">
                            <select class="form-select" [(ngModel)]="selectedVidFormat">
                                <option value="default" selected>Select targe format ...</option>
                                <option value="3g2">Convert to 3G2</option>
                                <option value="3gp">Convert to 3GP</option>
                                <option value="avi">Convert to AVI</option>
                                <option value="flv">Convert to FLV</option>
                                <option value="mkv">Convert to MKV</option>
                                <option value="mov">Convert to MOV</option>
                                <option value="mp4">Convert to MP4</option>
                                <option value="mpg">Convert to MPG</option>
                                <option value="ogv">Convert to OGV</option>
                                <option value="webm">Convert to WEBM</option>
                                <option value="wmv">Convert to WMV</option>
                            </select>
                            <button class="btn btn-outline-success" (click)="onVidConvertPressed()">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2>Audio converter</h2>
                    <p class="card-text">A versatile online audio converter to convert audio files in the most common
                        audio file formats.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="input-group mb-3">
                            <select class="form-select" [(ngModel)]="selectedAudioFormat">
                                <option value="default" selected>Select targe format ...</option>
                                <option value="aac">Convert to AAC</option>
                                <option value="aiff">Convert to AIFF</option>
                                <option value="flac">Convert to FLAC</option>
                                <option value="m4a">Convert to M4A</option>
                                <option value="m4r">Convert to M4R</option>
                                <option value="mmf">Convert to MMF</option>
                                <option value="mp3">Convert to MP3</option>
                                <option value="ogg">Convert to OGG</option>
                                <option value="opus">Convert to OPUS</option>
                                <option value="wav">Convert to WAV</option>
                                <option value="wma">Convert to WMA</option>
                            </select>
                            <button class="btn btn-outline-success" (click)="onAudioConvertPressed()">Go</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>